#next{
    float: right;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
   color: #2ECC71;
   
}

#prev{
    float: left;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #2ECC71;
}

#next-text{
    margin-right: 5px;
    font-family: "Muli",sans-serif;
    color: #495B6E;
}

#prev-text{
    margin-left: 5px;
    font-family: "Muli",sans-serif;
    color: #495B6E;
}

