#repo-info{
    width: 100%;
    
}

.repo-info-title{
    font-size: 18px;
    margin-right: 10px;
    font-family: "Muli",sans-serif;
}

.repo-details{
    font-size: 18px;
    font-weight: bold;
    font-family: "Muli",sans-serif;

}

#repo-avatar{
    height: 180px;
    width: auto;
    border-radius: 15%;
    border: 2px solid black;
}

.avatar{
    display: inline-block;
    margin-right: 20px;
}

.info{
     display: inline-block;
}



#repo-link{
    color: #2ECC71
}

.a {
    color: #2ECC71;
}

.card-header{
    color:#495B6E;
    width: 100%;
    margin-left: 0px;
    font-family: "Muli",sans-serif;
     color: #495B6E;
}

.card-content{
     width: 100%;
    padding: 30px;
}

.title{
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #495B6E;
    font-family: "Muli",sans-serif;
    
}

#repo-name{
    font-weight: bold;
    font-family: "Muli",sans-serif;
    
}
.panel{
    margin-top: 20px;
    margin-bottom: 20px;
}