.media-content{
    font-family: 'Muli',sans-serif;
}

.snippit-info{
    font-weight: bold;
    margin-left: 5px;
}

.component-RepoSnippit{
    
}

#repo-link{
    color: #2ECC71 !important;
    font-weight: bold;

}