#repo-info{
    width: 100%;
    padding: 30px;
}

.repo-info-title{
    font-size: 18px;
    margin-right: 10px;
    font-family: 'Asap', sans-serif;
}

.repo-details{
    font-size: 18px;
    font-weight: bold;
    font-family: 'Asap', sans-serif;

}

#repo-avatar{
    height: 180px;
    width: auto;
    border-radius: 15%;
    border: 2px solid black;
}

.avatar{
    display: inline-block;
    margin-right: 20px;
}

.info{
     display: inline-block;
}

#back-button{
    margin-left: 20px;
}